/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px #888;
    background-color: #DDD8C4;
  }

  .text p {
  display: inline-block;
  max-width: 60%;
  margin: 3px;
  padding: 5px 10px;
  border-radius: 15px;
  background-color:rgb(84, 166, 1);
  color: white;
  font-family: sans-serif;
  font-size: 0.8em;
}

/* from daisy: */
.text:nth-child(odd)  {
  text-align: left;
}

.text:nth-child(even)  {
  text-align: right;
}

/* Convo Box */
#convo {
  background-color:ghostwhite;
  margin: 15px auto;
  padding: 0px;
  border-radius: 15px;
  border: solid 1px black;
  max-width: 450px;
  text-align: center;
  overflow: hidden;
}

#convo-tumb {
  border-radius: 50%;
  width: 50%;
}

