/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px #b2df9f;
    background-color: #cfadd2;
  }

  /* styles.css */

body {
  font-family: sans-serif;
  background: #b2df9f;
  color: #333;
  margin: 2rem;
  border: 1px dotted #ccc;
}

h1 {
  color: #268bd2;
}

p {
  font-style: italic;
}
